/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    position: relative;
}

/* #endregion */

/* #region Debug */

.debug header {
    background-color: aqua;
    height: 50px;
    width: 100%
}

.debug .hero_block {
    background-color: blue;
    height: 600px;
}

.debug .planeCard_block {
    height: 800px;
    background-color: cadetblue;
}

.debug .planeCard_text {
    background-color: chocolate;
}

.debug .wildcard {}

/* #endregion */

/* #region Header */

header {
    position: absolute;
    top: 0;
    left: 0;
}

/* #endregion */

/* #region Main */

/* #endregion */