/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    position: relative;
}

/* #endregion */

/* #region Utility */

.f-l {
    float: left;
}

/* #endregion */

/* #region Debug */

.debug header {
    background-color: aqua;
    height: 50px;
    width: 100%
}

.debug .hero_block {
    background-color: blue;
    height: 600px;
}

.debug .planeCard_block {
    height: 625px;
    background-color: cadetblue;
}

.debug .planeCard_text {
    background-color: chocolate;
}

.debug .row .wildcard {
    height: 400px;
    background-color: coral;
    border: 1px solid black;
}

.debug .enterCard {
    height: 100px;
    background-color: crimson;
}

.debug .partner_block {
    height: 400px;
    background-color: darkgreen;
}

.debug .info_title {
    height: 2rem;
    background-color: darkolivegreen;
}

.debug .info {
    height: 100px;
    background-color: darksalmon;
    border: 1px solid black;
}

.debug .deb_odd {
    background-color: deepskyblue;
}

.debug .deb_even {
    background-color: slateblue;
}

.debug .team_splash {
    height: 50px;
}

.debug .team_infobox {
    background-color: slategrey;
}

.debug .dropbox_trial {
    height: 100px;
    background-color: burlywood;
}

.debug .faq_list {
    height: 250px;
    background-color: cornsilk;
}

/* #endregion */

/* #region Header */

header {
    position: absolute;
    top: 0;
    left: 0;
}

/* #endregion */

/* #region Main */

/* #region Wildcards */

.planeCard_col .row {
    padding: 1rem;
}

.wildcard {
    float: left;
    width: 33%;
}

/* #endregion */

/* #region Info */

.info_block .row {
    padding: 1rem;
}

.info {
    float: left;
    width: 33%;
}

/* #endregion */

/* #region Team */

.team_grid {
    width: 14%;
}

.team_grid .row {
    /* width: 50%; */
}

.team_infobox {
    width: 72%;
}

.team_splash {
    width: 50%;
    height: 50%;
}

/* #endregion */

/* #endregion */