/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/* #endregion */

/* #region Utility */

/************
Margin & Paddings
*************/

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.auto-mid {
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.m-a {
    margin: auto;
}

.m-t1 {
    margin-top: 1rem;
}

.m-b05 {
    margin-bottom: .5rem;
}

.m-b1 {
    margin-bottom: 1rem;
}

.m-b2 {
    margin-bottom: 2rem;
}

.m-b5 {
    margin-bottom: 5rem;
}

.b_spacer2 {
    margin-bottom: 2rem;
}

/************
Float
*************/

.f-l {
    float: left;
}

/************
Columns widths
*************/

.rowx2 {
    height: 50%;
}

.col-5 {
    width: 5%;
}

.col-7 {
    width: 7%;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-35 {
    width: 35%;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.col-43 {
    width: 43%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

.col-65 {
    width: 65%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/************
Text
*************/

.f-s08 {
    font-size: .8rem;
}

.f-s1_2 {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.text_spacer1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.row_list li {
    list-style: none;
    display: inline-block;
}

.align-r {
    text-align: right;
}

.align-c {
    text-align: center;
}

.double_line {
    line-height: 2rem;
}

.text_gray {
    color: gray;
}

.text_gray {
    color: black;
}

.text_underline {
    text-decoration: underline;
}

/************
Buttons
*************/

.btn {
    padding: .5rem 1rem;
    display: inline-block;
}

.btn_border {
    border: 1px solid black;
}

/************
Background colors
*************/

.back_blue {
    background-color: #0061ff;
}

.back_green {
    background-color: #a2d39b;
}

.back_darkred {
    background-color: #61082b;
}

.back_cyan {
    background-color: #0093ce;
}

.back_red {
    background-color: #ff1c1c;
}

.border_gray {
    border: 1px solid lightgray;
}

.lowerborder_gray {
    border-bottom: 1px solid lightgray;
}

/* 
Color list 

Designit a2d39b d0e9cd
ASU 61082b
UF 0093ce
Topps ff1c1c

World something d5001f
Hearst b4d0e7
lonely planet 0d2481
clear channel ffd830

trial b4d0e7

*/

/************
Text Colors
*************/

.text_white {
    color: white;
}

.text_black {
    color: black;
}

.text_blue {
    color: blue;
}

/************
Link property
*************/

.text_black a {
    color: black;
}

.text_white a {
    color: white;
}

.text_blue a {
    color: blue;
}

.no-d a {
    text-decoration: none;
}

/* #endregion */

/* #region Debug */

.debug .deb_odd {
    background-color: deepskyblue;
}

.debug .deb_even {
    background-color: slateblue;
}

.debug .team_splash {
    height: 50px;
}

.debug .team_infobox {
    background-color: slategrey;
}

.debug .dropbox_trial {
    height: 100px;
    background-color: burlywood;
}

.debug .faq_list {
    height: 250px;
    background-color: cornsilk;
}

.debug .footer_col {
    background-color: gray;
    height: 300px;
}

/* #endregion */

/* #region Header */

.row .logo {
    vertical-align: middle;
    line-height: 2.5rem;
    padding-top: 9px;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}

.top_links {
    line-height: 2.5rem;
}

.top_links ul {
    display: inline-block;
}

.top_links li {
    margin: 0 1.5rem;
}

/* #endregion */

/* #region Main */

/* #region Hero  */

.hero_block {
    background-color: #b4d0e7;
    /* position: relative; */
}

.hero_title {
    /* position: absolute; */
    padding-top: 8rem;
    font-size: 2.4rem;
}

.hero_text * {
    margin: 1rem 0;
}

.downarrow i {
    font-size: 3rem;
}

/* #endregion */

/* #region Wildcards */

.radiobox div {
    display: inline;
}

.wildcard {
    height: 600px;
}

.row .col-33 {
    padding: 0 1rem;
}

.planeCard_text h2 {
    font-size: 2rem;
}

.planeCard_col .row {
    padding: 1rem;
}

.wildcard ul>li, .wildcard dl>dd {
    margin-bottom: 0.5rem;
}

.underline_text {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

/* #endregion */

#partner_textblack a {
    color: black;
}

.cell_content {
    width: 100%;
    padding-bottom: 100%;
}

.team_infobox {
    height: 100%
}

/* #region Info */

.info_block .row {
    padding: 1rem;
}

.info {
    float: left;
    width: 33%;
}

/* #endregion */

/* #region Team */

.dim_fix {
    width: 200px;
    height: 200px;
}

.custom_white {
    filter: invert(99%) sepia(6%) saturate(917%) hue-rotate(284deg) brightness(128%) contrast(100%)
}

.row .bottom_links {
    width: 20%;
}

.footer_col .row {
    padding: 2rem;
}

/* #endregion */

/* Cascade Effects */

/* #endregion */